body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Comfortaa", sans-serif
}

.login{
    width: 550px;
    height: 500px;
    border: 1px solid rgb(91, 91, 255);
    border-radius: 0px 0px 0px 0px;
    color: rgb(14, 12, 12);
    background-color: rgb(255, 255, 255);
    top: -15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    padding: 0px 0px;
}

div h1{
    background-color: rgb(60, 89, 250);
    color: white;
    text-align: center;
    font-family: "Comfortaa", serif;
    padding: 13px;
    margin: 0px;
    box-sizing: border-box;
}
.login p{

    font-size: 30px;
    text-align: center;
}
.login input[type="text"], input[type="password"]{
    font-size: 30px;
    transform: translate(25%);
    border-radius: 10px;
    border: 2px solid blue
}
.login input[type="submit"]{
    font-size: 210%;
    background: rgb(60, 89, 250);
    color: white;
    padding: 0px 0px;
    border-radius: 5px;
    transform: translate(-150%);
}

.btn-limpar{
    position: absolute;
    left: 550px;
}

.btnEntrarInput{
    width: 120px;
}

.rubensPato {
    position: absolute;
    left: 660px;
    top: 50px;
}
